<%= form_with(model: bbch_profile, local: true) do |form| %>
  <% if bbch_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bbch_profile.errors.count, "error") %> prohibited this bbch_profile from being saved:</h2>

      <ul>
      <% bbch_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
