<p id="notice"><%= notice %></p>

<p>
  <strong>Plant instance:</strong>
  <%= link_to @growth_observation.plant_instance.plant.scientific_name_with_common_names, @growth_observation.plant_instance %>
</p>

<p>
  <strong>Observation date:</strong>
  <%= @growth_observation.observation_date %>
</p>

<p>
  <strong>Bbch stage:</strong>
  <%= @growth_observation.bbch_stage.code.to_s + " - " + @growth_observation.bbch_stage.description %>
</p>

<p>
  <strong>Percent at stage:</strong>
  <%= @growth_observation.percent_at_stage %>
</p>

<p>
  <strong>Added by :</strong>
  <% if @growth_observation.user != nil %>
   <%= link_to @growth_observation.user.email, @growth_observation.user %>
  <% end %>
</p>

<% if @growth_observation.picture.attached? %>
  <%=  @growth_observation.picture.service.send(:object_for, @growth_observation.picture.key).public_url %>
  <%= image_tag url_for(@growth_observation.picture)  %>
<% end %>

<%= link_to 'Edit', edit_growth_observation_path(@growth_observation) %> |
<%= link_to 'Back', growth_observations_path %>
