<%= form_with(model: plant_class, local: true) do |form| %>
  <% if plant_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant_class.errors.count, "error") %> prohibited this plant_class from being saved:</h2>

      <ul>
      <% plant_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  
  <div class="field">
    <%= form.label :division_id %>
    <%= form.collection_select :division_id, Division.all.order('name'), :id, :name, :include_blank => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
