<p id="notice"><%= notice %></p>
<p>
  <strong>Kingdom:</strong>
  <%= link_to @plant_class.division.kingdom.name, @plant_class.division.kingdom %>
</p>

<p>
  <strong>Division:</strong>
  <%= link_to @plant_class.division.name, @plant_class.division %>
</p>

<p>
  <strong>Class:</strong>
  <%= @plant_class.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant_class.description %>
</p>

<strong>Orders:</strong>
<ul>
<% @order_categories.each do |o| %>
  <li><%= link_to o.first.name, o.first %></li>
  <ul>
    <% o[1].each do |f| %>
      <li><%= link_to f.first.name, f.first %></li>
      <ul>
        <% f[1].each do |g| %>
          <li><%= link_to g.first.name, g.first %></li>
          <ul>
            <% g[1].each do |s| %>
              <li><%= link_to s.first.name, s.first %></li>
              <ul>
                <% s[1].each do |p| %>
                  <li><%= link_to p.scientific_name_with_common_names, p %></li>
                <% end %>
              </ul>
            <% end %>
          </ul>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>
</ul>
<%= link_to 'Edit', edit_plant_class_path(@plant_class) %> |
<%= link_to 'Back', plant_classes_path %>
