<%= form_with(model: cultivator, local: true) do |form| %>
  <% if cultivator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cultivator.errors.count, "error") %> prohibited this cultivator from being saved:</h2>

      <ul>
      <% cultivator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :species_id %>
    <%= form.collection_select :species_id, Species.all, :id, :full_species_name, :include_blank => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
