<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.high_level_location != nil %>
	<p>
	  <strong>High Level Location Default:</strong>
	  <%= link_to @user.high_level_location.name, @user.high_level_location %>
	</p>
<% end %>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
