<p id="notice"><%= notice %></p>

<h1>Plants</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Kingdom', kingdoms_path %></th>
      <th><%= link_to 'Division', divisions_path %></th>
      <th><%= link_to 'Class', plant_classes_path %></th>
      <th><%= link_to 'Order', orders_path %></th>
      <th><%= link_to 'Family', families_path %></th>
      <th><%= link_to 'Genus', genus_path %></th>
      <th><%= link_to 'Species', species_index_path %></th>
      <th><%= link_to 'Variety', varieties_path %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.kingdom.name %></td>
        <td><%= plant.division %></td>
        <td><%= plant.plant_class %></td>
        <td>
          <% if plant.order != nil %>
            <%= plant.order.name %>
          <% end %>
        </td>
        <td>
          <% if plant.family != nil %>
            <%= plant.family.name %>
          <% end %>
        </td>
        <td><%= plant.genus.name.titlecase %></td>
        <td><%= plant.species.name.downcase %></td>
        <td><%= plant.variety %></td>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>
