<p id="notice"><%= notice %></p>

<h1>Plants</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Plant', kingdoms_path %></th>
      <th><%= link_to 'Kingdom', kingdoms_path %></th>
      <th><%= link_to 'Division', divisions_path %></th>
      <th><%= link_to 'Class', plant_classes_path %></th>
      <th><%= link_to 'Order', orders_path %></th>
      <th><%= link_to 'Family', families_path %></th>
      <th><%= link_to 'Genus', genus_path %></th>
      <th><%= link_to 'Species', species_index_path %></th>
      <th><%= link_to 'Variety', varieties_path %></th>
      <th><%= link_to 'Cultivator', cultivators_path %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= link_to plant.scientific_name_with_common_names.html_safe, plant %></td>
        <td><%= link_to plant.kingdom.names, plant.kingdom %></td>
        <td><%= link_to plant.division.names, plant.division %></td>
        <td><%= link_to plant.plant_class.name, plant.plant_class %></td>
        <td><%= link_to plant.order.name, plant.order %></td>
        <td><%= link_to plant.family.name, plant.family %></td>
        <td><%= link_to plant.genus.name.titlecase, plant.genus %></td>
        <td><%= link_to plant.species.name.downcase, plant.species %></td>
        <td><%= plant.variety %></td>
        <td><%= plant.variety %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong>Orders:</strong>
<ul>
<% @order_categories.each do |o| %>
  <li><%= link_to o.first.name, o.first %></li>
  <ul>
    <% o[1].each do |f| %>
      <li><%= link_to f.first.name, f.first %></li>
      <ul>
        <% f[1].each do |g| %>
          <li><%= link_to g.first.name, g.first %></li>
          <ul>
            <% g[1].each do |s| %>
              <li><%= link_to s.first.name, s.first %></li>
              <ul>
                <% s[1].each do |p| %>
                  <li>
                    <% if p.image_url != nil and p.image_url != '' %>
                      <image src=<%= p.image_url %> width='100' />
                    <% end %>
                    <%= link_to p.scientific_name_with_common_names, p %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </ul>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>
</ul>

<%= link_to 'New Plant', new_plant_path %>
