<p id="notice"><%= notice %></p>

<h2> <%= @plant.scientific_name.html_safe %> </h2>
<% @common_names.each do |name| %>
  <%= name.name %>,
<% end %>
<%= link_to 'Add Common Name', new_common_name_path(:plant_id => @plant) %>

<p>
  <strong>Kingdom:</strong>
  <%= link_to @plant.kingdom.name, @plant.kingdom %>
</p>
<% if @plant.division != nil %>
  <p>
    <strong>Division:</strong>
    <%= link_to @plant.division.name, @plant.division %>
  </p>
<% end %>

<p>
  <strong>Class:</strong>
  <%= link_to @plant.plant_class.name, @plant.plant_class %>
</p>

<% if @plant.order != nil %>
  <p>
    <strong>Order:</strong>
    <%= link_to @plant.order.name, @plant.order %>
  </p>
<% end %>

<% if @plant.family != nil %>
  <p>
    <strong>Family:</strong>
    <%= link_to @plant.species.genus.family.name, @plant.species.genus.family %>
  </p>
<% end %>

<p>
  <strong>Genus:</strong>
  <%= link_to @plant.species.genus.name, @plant.species.genus %>
</p>

<p>
  <strong>Species:</strong>
  <%= link_to @plant.species.name, @plant.species %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @plant.variety %>
</p>

<% if @plant.cultivator != nil %>
  <p>
    <strong>Cultivator:</strong>
    <%= link_to @plant.cultivator.name, @plant.cultivator %>
  </p>
<% end %>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
