<p id="notice"><%= notice %></p>

<% if @plant.image_url != '' and @plant.image_url != nil %>
  <img src=<%= @plant.image_url %> width='250' style="float:left;margin-right:3em;"/>
<% elsif @has_open_farm_data %>
  <img src=<%= @open_farm_data['data']['attributes']['main_image_path'] %> width='250' style="float:left;margin-right:3em;"/>
<% end %>

<h2> <%= @plant.scientific_name.html_safe %> </h2>
<% @common_names.each do |name| %>
  <%= name.name %>,
<% end %>
<%= link_to 'Add Common Name', new_common_name_path(:plant_id => @plant) %>

<p>
  <% if @plant.species.genus.description != '' %>
    <em><%= @plant.species.genus.description %></em>
  <% end %>
  <% if @plant.species.description != '' %>
    <em><%= @plant.species.description %></em>
  <% end %>
</p>
<p>
  <strong>Kingdom:</strong>
  <%= link_to @plant.kingdom.name, @plant.kingdom %>
<br/>
<% if @plant.division != nil %>
    <strong>Division:</strong>
    <%= link_to @plant.division.name, @plant.division %>
  <br/>
<% end %>
  <strong>Class:</strong>
  <%= link_to @plant.plant_class.name, @plant.plant_class %>
<br/>

<% if @plant.order != nil %>
    <strong>Order:</strong>
    <%= link_to @plant.order.name, @plant.order %>
  <br/>
<% end %>

<% if @plant.family != nil %>
    <strong>Family:</strong>
    <%= link_to @plant.species.genus.family.name, @plant.species.genus.family %>
<% end %>
<br/>

  <strong>Genus:</strong>
  <%= link_to @plant.species.genus.name, @plant.species.genus %>
<br/>
  <strong>Species:</strong>
  <%= link_to @plant.species.name, @plant.species %>


<% if @plant.variety != nil %>
  <p>
    <strong>Variety:</strong>
    <%= link_to @plant.variety.name, @plant.variety %>
  </p>
<% end %>

<% if @plant.cultivator != nil %>
  <br/>
    <strong>Cultivator:</strong>
    <%= link_to @plant.cultivator.name, @plant.cultivator %>
<% end %>
</p>

<% if @plant.OpenFarmID != nil and @plant.OpenFarmID != "" %>
  <p>
    <strong>OpenFarm ID</strong>
    <%= @plant.OpenFarmID %>
    <%= @open_farm_data['data']['attributes']['svg_icon'].html_safe %>
    <%= @open_farm_data.inspect %>
  </p>
<% end %>

<% if @current_user != nil %>
<div>
  <% if !@on_wishlist %>
    <a href id="wishlist_link">Add to Wishlist</a>
  <% else %>
    Already on Wishlist
  <% end %>
</div>
<% end %>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>


<script>
<% if @current_user != nil %>  
$(document).ready(function() {  
      $('#wishlist_link').click(function(){
      var $plant_id = <%= @plant.id %>;
      var $user_id = <%= @current_user.id %>;
      $.ajax({
        type: "POST",
        url: "/add_to_wishlist",
        data: {plant: $plant_id, user: $user_id},
        success:function(data){
          return false;
        },
        error: function(data){
          return false
        }
      });
    });
});    
<% end %>    
</script>