<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <% if @resource.species != nil %>
  	<%= link_to @resource.species.full_species_name, @resource.species %>
  <% end %>
</p>

<p>
  <strong>Plant:</strong>
  <% if @resource.plant != nil %>
  	<%= link_to @resource.plant.scientific_name_with_common_names, @resource.plant %>
  <% end %>
</p>

<p>
  <strong>Link:</strong>
  <%= @resource.link %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
