<%= form_with(model: plant_instance, local: true) do |form| %>
  <% if plant_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant_instance.errors.count, "error") %> prohibited this plant_instance from being saved:</h2>

      <ul>
      <% plant_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plant_id %>
    <%= form.collection_select :plant_id, Plant.all, :id, :scientific_name_with_common_names, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :reference_name %>
    <%= form.text_field :reference_name %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.collection_select :location_id, Location.all, :id, :name, :include_blank => true %>
  </div>
  
  <div class="field">
    <%= form.label :planted_date %>
    <%= form.date_field :planted_date %>
  </div>
  
  <div class="field">
    <%= form.label :propagation_type %>
    <select name="plant_instance[propagation_type]" id="plant_instance_propagation_type">
      <option value></option>
      <option value='1' <% if @plant_instance.propagation_type == 1 %> selected="selected"<% end %> >Seed Propagation</option>
      <option value='2' <% if @plant_instance.propagation_type == 2 %> selected="selected"<% end %> >Cutting Propagation</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :acquired_date %>
    <%= form.date_field :acquired_date %>
  </div>
  <div class="field">
    <%= form.label :sprout_date %>
    <%= form.date_field :sprout_date %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
