<p id="notice"><%= notice %></p>

<h1>My Plants</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Plant</th>
      <th>Last Watered</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plant_instances.each do |plant_instance| %>
      <tr>
        <td><%= link_to plant_instance.location.name, plant_instance.location %></td>
        <td><%= link_to plant_instance.plant.scientific_name_with_common_names, plant_instance %></td>
        <td>
          <% if plant_instance.descending_water_records.count > 0 %>
            <%= plant_instance.descending_water_records.first.clean_date%>
          <% end %>
        </td>
        <td><%= link_to 'Remove', plant_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_instance_path %>
