<p id="notice"><%= notice %></p>

<h1>My Plants</h1>
<span style='float:right'><strong>Last Watered</strong></span>
<ul>
<% @hlf.each do |hlf| %>
  <lh><strong><%= link_to hlf.name, hlf %></strong></lh>
  <% hlf.locations.each do |location| %>
    <li class="location_row">
      <input type="checkbox" id="location<%= location.id %>" name="location" class="location" value=<%= location.id %>>
      <%= link_to location.name, location %>
      <span style="float:right;">-</span>
      <ul>
        <% location.plants.each do |plant_i| %>
          <li class="plant_row">
          <input type="checkbox" name="plant_instance" value="<%= plant_i.id %>" location="<%=location.id%>" class="plant location<%=location.id%>">
          <%= link_to plant_i.plant.scientific_name_with_common_names, plant_i %>
          <% if plant_i.descending_water_records.count > 0 %>
            <% @lastest_watering = plant_i.descending_water_records.first %>
            <span class='last_watered' value='<%= @lastest_watering.ounces %>' style='float:right;'>
              <% @days = (DateTime.now().to_date - @lastest_watering.moment.to_date).to_i - 1 %>
              <% if @days <= 0 %>
                Today
              <% else %>
                <%= @days %> Days Ago
              <% end %>
            </span>
          <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
<% end %>
</ul>
<input type="button" id="add_water_records_btn" value="Add Water Record(s) to Selected Plants" disabled>
<br/>
<%= link_to 'New Plant', new_plant_instance_path %>
<br/>

<div>
  <h3>Wishlist Plants</h3>
  <ul>
    <% @wishlist_plants.each do |w_plant| %>
      <li><%= link_to w_plant.plant.scientific_name_with_common_names, w_plant.plant %></li>
    <% end %>
  </ul>
</div>

<div id="water_records_popup" style="display:none">
  <div id="modal_content">
  <span class="close">&times;</span>
  <h3>Add Water Records to Plants</h3>
  Watered at <input type="datetime-local" id='watering_moment' value="<%= @local_moment.strftime("%Y-%m-%dT%H:%M") %>">
  <table border='1' id="water_records">
      <th>Plant</th>
      <th>Water Amount</th>
      <th>Use Previous Amount</th>
      <th>Remove</th>

  </table>
  <button id="submit_water_records">Submit</button>
  </div>
</div>


<script>

$(document).ready(function() {
    //if location checkbox is clicked, set corresponding plant instances to match
    $('.location').change(function() {
        var $location_val = $(this).attr('value');
        if(this.checked) {
            $('.location'+$location_val).prop( "checked", true );
        }
        else{
            $('.location'+$location_val).prop( "checked", false );  
        }
        if($('input.plant:checked').length > 0){
          $('#add_water_records_btn').removeAttr('disabled');
        }else{
          $('#add_water_records_btn').attr('disabled','disabled');
        }
    });
    
    //if plant instnace checkbox is clicked, uncheck location instance if selected
    //or select location instance if all plants are selected
    $('.plant').click(function(){
      var $location_val = $(this).attr('location');
      if(!this.checked && $('#location'+$location_val).is(':checked')){
        $('#location'+$location_val).prop( "checked", false );  
      }
      if(this.checked && !$('#location'+$location_val).is(':checked')){
        //check to see if all others are checked
        var $all_checked = true;
        $('.location'+$location_val).each(function( index ) {
          if(!this.checked){
            $all_checked = false;
          }
        });
        //if so check the location checkbox
        if($all_checked){
          $('#location'+$location_val).prop( "checked", true );
        }
      }
      if($('input.plant:checked').length > 0){
        $('#add_water_records_btn').removeAttr('disabled');
      }else{
        $('#add_water_records_btn').attr('disabled','disabled');
      }
    });
    
    $('#add_water_records_btn').click(function(){
      //go through list, for each location, see if any plants are selected
      $('.location_row').each(function( index) {
        if($(this).find('input:checked').length > 0){
          //alert($(this).find('a').first().text()); 
          var $location_name = $(this).find('a').first().text();
          $('#water_records tr:last').after("<tr><td colspan='4'><em>"+$location_name+"</em></td></tr>");
          $(this).find('input.plant:checked').each(function( index ){
            var $plant_id = $(this).val();
            var $plant_name = $(this).next().text();
            var $water_amount = $(this).next().next().attr('value');
            add_watering_row($plant_id, $plant_name, $water_amount);
          });
        }
      });
      $('#water_records_popup').show();
    });
    
    $(document).on('keyup', ".water_plant", function(){
      if($(this).val() == $(this).parent().next().find('input').attr('value')){
         $(this).parent().next().find('input').prop( "checked", true );
      }else{
         $(this).parent().next().find('input').prop( "checked", false );
      }
    })
    
    $('.close').click(function(){
      $('#water_records_popup').hide();
      $("#water_records").find("tr:gt(0)").remove();
    });
    
    $('#submit_water_records').click(function(){
      var $water_date = Date.parse($('#watering_moment').val())/1000;
      var $water_array = new Array();
      $(document).find('.water_plant').each(function(index){
        $plant_id = $(this).attr('id');
        $water_amount = $(this).val();
        $water_details = [$plant_id, $water_amount];
        $water_array.push($water_details);
      });
      $.ajax({
        type: "POST",
        url: "/add_water_records",
        data: {water_moment: $water_date, water_array: $water_array},
        success:function(data){
          return false;
        },
        error: function(data){
          return false
        }
      });
    });
    
    $( ".plant_row" ).hover(
      function() {
        $( this ).attr('style', 'background-color:#faf5dc;');
      }, function() {
        $( this ).attr('style', '');
      });
});

function add_watering_row(plant_id, plant_name, water_amount){
  $prior_value = "checked"
  if(water_amount == undefined){
    water_amount = "";
    $prior_value = "";
  }
  $('#water_records tr:last').after('<tr><td>'+ plant_name +'</td><td>' + 
    "<input class='water_plant' id=" + plant_id + " type='text' value='"+water_amount+"' >" + 
    "</td><td><input type='checkbox' " + $prior_value + " value='"+water_amount+"'/></td>" + 
    "<td>X</td></tr>");
}

</script>