<p id="notice"><%= notice %></p>
<div id='plant_top'>
<% if @plant_instance.plant.image_url != '' and @plant_instance.plant.image_url != nil %>
  <img src='<%= @plant_instance.plant.image_url%>' style="float:left;margin-right:3em;" width='250'/>
<% end %>
  <h3>
    <%= link_to @plant_instance.plant.scientific_name_with_common_names, @plant_instance.plant %>
  </h3>
  <p>
  <% if @plant_instance.plant.species.genus.description != '' %>
    <em><%= @plant_instance.plant.species.genus.description %></em>
  <% end %>
  <% if @plant_instance.plant.species.description != '' %>
    <em><%= @plant_instance.plant.species.description %></em>
  <% end %>
</p>
</div>
<div>
<p>
  <strong>Location:</strong>
  <%= link_to @plant_instance.location.name, @plant_instance.location %>
</p>

<ul>
  <uh><strong>Growing Notes</strong></uh>
  <li><%= link_to 'Add Water Record', new_water_record_path(:plant_instance_id => @plant_instance) %></li>
  <% @plant_instance.descending_water_records.each do |wr| %>
    <li>
      Watered 
      <% if wr.ounces != nil %>
        <%= wr.ounces %> oz
      <% end %>
      <%= link_to wr.clean_date, wr %>
    </li>
  <% end %>
  <% if @plant_instance.planted_date != nil %>
    <li>Planted 
      <% if @plant_instance.propagation_type == 1 %>
       seed 
      <% elsif @plant_instance.propagation_type == 2 %>
       cutting
      <% end %>
      at <%=  @plant_instance.planted_date.strftime('%l:%M %p %Z on %m/%d/%y') %>
    </li>
  <% end %>
  
  <% if @plant_instance.acquired_date != nil %>
    <li>Acquired on <%= @plant_instance.acquired_date.strftime('%m/%d/%y') %>
    </li>
  <% end %>
</ul>
<% if @plant_instance.sprout_date != nil %>
  <div>Sprouted on <%= @plant_instance.sprout_date.strftime('%m/%d/%y') %></div>
<% end %>

<%= link_to 'Edit', edit_plant_instance_path(@plant_instance) %> |
<%= link_to 'Back', my_plants_path %>
</div>