<%= form_with(model: bbch_stage, local: true) do |form| %>
  <% if bbch_stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bbch_stage.errors.count, "error") %> prohibited this bbch_stage from being saved:</h2>

      <ul>
      <% bbch_stage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="field">
    <%= form.label :bbch_profile_id %>
    <%= form.text_field :bbch_profile_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
