<p id="notice"><%= notice %></p>

<p>
  <strong>High Level Location:</strong>
  <%= @high_level_location.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @high_level_location.zip %>
</p>

<p>
<strong>Lat:</strong>
  <%= @high_level_location.lat %>
</p>

<p>
<strong>Long:</strong>
  <%= @high_level_location.long %>
</p>
<strong>Locations</strong>

<ul>
  <% @locations.each do |l| %>
    <li> <%= link_to l.name, l %> </li>
  <% end %>
</ul>

<% if @high_level_location.lat != nil and @high_level_location.long != nil %>
  <strong> Nearby Weather Stations </strong> 


  <ul>
  <% @operating_stations.each do |r| %>
    <% if DateTime.parse(r[0]['maxdate']) > @yearAgo %>
      <li>
        <span class='station_id'><%= r[0]['id'] %></span> - <%= r[0]['name'] %> (Data From: <%= r[0]['mindate'] %> to <%= r[0]['maxdate'] %>) [long: <%= r[0]['longitude']%>, lat:<%= r[0]['latitude'] %>]
        <%= r[1]%>
      </li>
    <% end %>
  <% end %>

  </ul>
      <h2>My Map</h2>
  <div>
  <div id="mapdiv" class="map"></div>
</div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv", { });
    map.addLayer(new OpenLayers.Layer.OSM());

    var lonLat = new OpenLayers.LonLat( <%= @high_level_location.long %> , <%= @high_level_location.lat %>)
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );


    var markers = new OpenLayers.Layer.Markers( "Markers" );
    <% @operating_stations.each do |station| %>
      var newLonLat = new OpenLayers.LonLat( <%= station[0]['longitude'] %>, <%= station[0]['latitude'] %>)
            .transform(
              new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
              map.getProjectionObject() // to Spherical Mercator Projection
            );
      markers.addMarker(new OpenLayers.Marker(newLonLat));
    <% end %>
          
    var zoom=12;
    
    markers.addMarker(new OpenLayers.Marker(newLonLat));
    map.addLayer(markers);
    
    markers.addMarker(new OpenLayers.Marker(lonLat), "Weather Station");
    
    map.setCenter (lonLat, zoom);

  </script>
  <br/>
  <p> Daylight <%= @high_level_location.get_sunlight_hours_for_day(75) %><br/>
      (not accounting for DST)<br/>
      Today's Sunrise <%= @high_level_location.get_sunrise_time_for_date(Date.today.to_datetime).strftime("%l:%M %p") %><br/>
      Today's Sunset <%= @high_level_location.get_sunset_time_for_date(Date.today.to_datetime).strftime("%l:%M %p") %><br/>
  </p>
  <br/>
  <strong>Average Weather</strong><br/>
  <%# sort in order of distance %>


    
        <canvas id="myChart"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'bar',

              // The data for our dataset
              data: {
                  labels: <%= raw @date_labels.to_s %>,
                  datasets: [{
                      label: 'Avg Max Temperature (F)',
                      borderColor: 'rgba(255, 0, 0, .7)',
                      backgroundColor: 'rgba(255, 0, 0, .7)',
                      fill: false,
                      data: <%= @max_temp_data.inspect %>,
                      type: 'line'
                  },
                  {
                      label: 'Avg Min Temperature (F)',
                      borderColor: 'rgba(0, 0, 255, 1)',
                      backgroundColor: 'rgba(0, 0, 255, 1)',
                      fill: false,
                      data: <%= @min_temp_data.inspect %>,
                      type: 'line'
                  },
                  {
                      label: 'Max Likely Temperature (F)',
                      borderColor: 'rgba(255, 0, 0, .3)',
                      backgroundColor: 'rgba(255, 0, 0, .3)',
                      fill: false,
                      data: <%= @max_deviation_data.inspect %>,
                      type: 'line'
                  },
                  {
                      label: 'Min Likely Temperature (F)',
                      borderColor: 'rgba(0, 0, 255, .3)',
                      backgroundColor: 'rgba(0, 0, 255, .3)',
                      //borderDash: [5, 5],
                      fill: false,
                      data: <%= @min_deviation_data.inspect %>,
                      type: 'line'
                  },
                  {
                      label: 'Avg Precip (in)',
                      borderColor: 'rgba(0, 255, 255, .3)',
                      backgroundColor: 'rgba(0, 255, 255, 1)',
                      fill: true,
                      yAxisID: 'B',
                      data: <%= @precip_data.inspect %>
                  }]
              },

              // Configuration options go here
              options: {
                scales: {
                  yAxes: [{
                    id: 'A',
                    type: 'linear',
                    position: 'left',
                  }, {
                    id: 'B',
                    type: 'linear',
                    position: 'right',
                  }]
                }
              }
          });
        </script>
      <p><button id="get_more_data" >Collect Additional Weather Data</button>
    <ul>
    <% @weather_records.each do |wr| %>
      <li><%= wr.date %> -  <span style="color:blue;"><%= wr.min_temp_f %>° F</span> | 
                          <span style="color:red;"><%= wr.max_temp_f %>° F</span> |
                          <span style="color:cyan;"><%= wr.precip_in %>"</span>  
      </li>
    <% end %>
    </ul>

  <p>
    <% @use_dark_sky = false %>
    <% if @use_dark_sky %>
        <strong>Weather:</strong>
        <% @high_level_location.set_forecast %>
        Currently 
        <%= @high_level_location.get_current_temp %>° as of <%= @high_level_location.get_current_time_formatted %><br/>
        <strong> 7 Day Weather Forecast</strong>
        <table>
          <tr>
            <% @high_level_location.get_forecast_days.each do |day| %>
              <td>
                <strong><%= @high_level_location.get_simple_date(day["time"]) %></strong><br/>
                <img src='<%= @high_level_location.get_weather_icon(day["icon"]) %>' width='75'/><br/>
                <span style="color:red;">
                  <%= day["temperatureMax"] %>°
                </span>
                | 
                <span style="color:blue;">
                  <%= day["temperatureLow"] %>° <!--overnight--><br/>
                </span>
                Chance of Rain: <%= day["precipProbability"] %><br/>
                Dew Point: <%= day["dewPoint"] %><br/>
                Humidity: <%= day["humidity"] %><br/>
                Pressure: <%= day["pressure"] %><br/>
                Cloud Cover: <%= day["cloudCover"] %><br/>
                Wind: <%= day["windSpeed"] %><br/>
                Moon Phase: <%= day["moonPhase"] %> <br/>
                Ozone: <%= day["ozone"] %><br/>
              </td>
            <% end %>
          </tr>
        </table>
      <% end %>
    <%#= @high_level_location.get_full_forecast %>
  </p>
  
<% end %>


<%= link_to 'Edit', edit_high_level_location_path(@high_level_location) %> |
<%= link_to 'Back', high_level_locations_path %>


<script>
  $('#get_more_data').click(function(){
    high_level_location_id = <%= @high_level_location.id %>;
    station_ids = [];
    $('.station_id').each(function(){
      station_ids.push($(this).html());
    });
    $.ajax({
        type: "POST",
        url: "/get_new_weather_records",
        data: {high_level_location_id: high_level_location_id, station_list: station_ids},
        success:function(data){
          return false;
        },
        error: function(data){
          return false
        }
      });
    //get_new_weather_records(high_level_location_id, station_list)
  })
</script>